    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Grayscale</h2>                                 Bienvenidas todas las personas a mi página en GitHub.

                <p>Soy usuario de GNU/Linux desde 2010. Uso la distribución [openSUSE](https://www.opensuse.org/) con escritorio [Plasma de KDE](https://www.kde.org/workspaces/). Soy miembro de openSUSE, y de KDE España.</p>

                <p>Soy defensor del software libre, y trato de usarlo donde me es posible y difundir su utilización frente a opciones de software privativo. He participado y participo en diferentes proyectos, principalmente traduciendo o difundiendo.</p>

                <p>En [mi web](https://victorhckinthefreeworld.com/) escribo sobre openSUSE, GNU/Linux y software libre. También hay sitio para otros artículos _"offtopic"_ relacionados con otros temas que me interesan.</p>

            </div>
        </div>
    </section>
